.components {
    &__environment-name {
        background: #38404a;
        color: white;
        font-size: 1.5rem;
        padding: 20px 20px;
    }
}

.component {
    align-items: center;
    background: #f6f6f6;
    color: black;
    display: flex;
    font-size: 18px;
    padding: 20px 0;
    text-decoration: none;
    width: 100%;

    &__status {
        text-align: center;
        width: 50px;
    }

    &__name {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        width: 150px;
    }

    &:nth-child(odd) {
        background: #e6e6e6;
    }
}
