.components {
    &__environment-name {
        background: #38404a;
        color: white;
        font-size: 1.5rem;
        padding: 20px 20px;
    }
}

.component {
    align-items: center;
    background: @list-background;
    color: black;
    display: flex;
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;

    &__status {
        padding: 20px;

        &--normal {
            background: @status-normal;
        }

        &--warning {
            background: @status-warning;
        }

        &--error {
            background: @status-error;
        }
    }

    &__name {
        font-size: 1.2rem;
        padding-left: 20px;
        text-transform: uppercase;
        width: 150px;
    }

    &:nth-child(odd) {
        background: darken(@list-background, 7%);

        .component__status {
            &--normal {
                background: darken(@status-normal, 7%);
            }

            &--warning {
                background: darken(@status-warning, 7%);
            }

            &--error {
                background: darken(@status-error, 7%);
            }
        }
    }
}
