.metric {
    align-items: center;
    background: #f6f6f6;
    color: black;
    font-size: 1.4rem;
    display: flex;

    &__status {
        padding: 20px 25px 20px 20px;

        &--normal {
            background: #49e090;
        }

        &--warning {
            background: #ebc44d;
        }

        &--error {
            background: #ee735d;
        }
    }

    &__key {
        padding-left: 20px;
        width: 200px;
    }

    &:nth-child(odd) {
        background: #e6e6e6;
    }
}
